@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.image img {
  max-width: 150px;

  height: auto;
  object-fit: cover;
}
.image {
  margin: 0 36px;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: swipe 36s linear infinite;
}

.wrapper {
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
.wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  z-index: 1;
}
.wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  z-index: 1;
}

.banner-wrapper {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.galleryCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(267px, 1fr));
  gap: 24px;
}
@media only screen and (max-width: 768px) {
  .wrapper:after,
  .wrapper:before {
    width: 150px;
  }
}

.galleryContainer {
  margin: 0 auto;
  width: 1140px;
  height: 1140px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 16px 16px;
  grid-template-areas:
    'image_0 image_0 image_1 image_2'
    'image_0 image_0 image_3 image_4'
    'image_5 image_6 image_9 image_9'
    'image_7 image_8 image_9 image_9';
}

.image_0 {
  grid-area: image_0;
}
.image_1 {
  grid-area: image_1;
}
.image_2 {
  grid-area: image_2;
}
.image_3 {
  grid-area: image_3;
}
.image_4 {
  grid-area: image_4;
}
.image_5 {
  grid-area: image_5;
}
.image_6 {
  grid-area: image_6;
}
.image_7 {
  grid-area: image_7;
}
.image_8 {
  grid-area: image_8;
}
.image_9 {
  grid-area: image_9;
}

.myChekbox {
  accent-color: #ec6e15;
}
